@inherits RazorTemplateBase

<h1>@Raw(Model.Doc.Attribute("MemberName").Value)</h1>

@Html.RenderPartial(Templates.Summary)
@Html.RenderPartial(Templates.Signature)
@Html.RenderPartial(Templates.GenericParameters)

<h2>Parameters</h2>
<ul>
@foreach(var p in Model.MemberParameters) {
        var name = p.Attribute("Name").Value;
        var type = p.Attribute("Type").Value;
        var parameterRemarks = Model.ParameterRemarks(name);

        <li>
                <span>@name</span>
                @type
                <blockquote>@Raw(parameterRemarks)</blockquote>
        </li>
}
</ul>

@Html.RenderPartial(Templates.Remarks)

@Html.RenderPartial(Templates.Requirements)
