@inherits RazorTemplateBase
<h1>@Model.Context["namespace"]</h1>

@Html.RenderPartial(Templates.Summary)
@Html.RenderPartial(Templates.Remarks)

<ul>
@foreach(var type in @Model.Source.XPathSelectElements("//class")) {
        <li>@type.Attribute("name").Value</li>
}
</ul>