@inherits RazorTemplateBase

<h1>@Model.Source.Element("Type").Attribute("Name").Value</h1>

@Html.RenderPartial(Templates.Summary)
@Html.RenderPartial(Templates.Signature)
@Html.RenderPartial(Templates.GenericParameters)
@Html.RenderPartial(Templates.Remarks)

<ul>
@foreach(var member in @Model.TypeMembers) {
        <li>@member.Attribute("MemberName").Value</li>
}
</ul>
